{% extends "layout.html" %}

{% block title %}Strona główna{% endblock %}

{% block head %}
    {{ super() }}
	<link href="../static/css/home.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="main-photo">
    <div class="main-photo-hello-text">
        <h2>Witamy na stronie naszego hotelu!</h2>

        <div class="scroll-downs">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
    </div>
</div>

<div id="offer">
    <h3>
    O to nasza oferta:
    </h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel laoreet lectus. Phasellus vel enim felis. Maecenas pulvinar diam sodales faucibus viverra. Vivamus dapibus interdum gravida. Aliquam viverra dignissim ex, eget feugiat neque euismod sit amet. Vestibulum hendrerit mattis leo. Quisque porta enim ultrices lectus tristique, a malesuada odio suscipit. Phasellus volutpat semper ullamcorper. Nulla commodo nisi a velit bibendum, in congue ipsum lacinia. Suspendisse nec sodales ex, nec finibus eros. Nullam aliquet tempor elit, sed sodales tortor dignissim vitae.
</p><p>
Pellentesque sapien sapien, porttitor nec ligula et, tempus gravida metus. Proin justo urna, interdum sit amet purus et, maximus ultrices risus. Vestibulum sagittis sem in arcu molestie, ac euismod arcu interdum. Proin ultrices viverra faucibus. Pellentesque blandit fermentum neque, vel rutrum enim. Vestibulum laoreet diam nibh, a suscipit turpis interdum a. Etiam nunc dui, laoreet eget accumsan sit amet, malesuada ac lorem. Morbi lorem mi, hendrerit vitae enim a, interdum facilisis magna.
</p><p>
Vestibulum sit amet gravida lacus, ac mattis erat. Ut maximus mattis lobortis. Aliquam varius felis vel eros rutrum laoreet. Nullam rhoncus cursus nisi eget scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris enim neque, cursus nec ipsum in, dignissim scelerisque sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris sit amet purus sit amet elit dapibus tincidunt. Quisque elementum semper vestibulum. Donec sollicitudin velit dolor, eu blandit mi dapibus nec. In et enim velit. Curabitur tincidunt tortor at erat sodales, placerat laoreet mi ullamcorper.
</p><p>
Aliquam in risus at erat ultrices rhoncus sit amet at turpis. Fusce malesuada interdum arcu, eu blandit tortor mollis quis. Fusce gravida venenatis erat, sit amet auctor nisl scelerisque vel. Pellentesque a erat non augue dictum facilisis. Nam lobortis non tortor ut rutrum. Pellentesque pretium nulla felis, a feugiat magna rhoncus eu. Praesent id faucibus nibh, et ornare nisi. Suspendisse quis volutpat est. Donec tincidunt urna ac sapien ornare, vitae fringilla enim eleifend.
</p><p>
Nam posuere hendrerit molestie. Maecenas ultrices diam lorem, a iaculis ipsum condimentum sit amet. Maecenas tincidunt metus euismod ante fermentum, bibendum convallis ex egestas. Donec tellus lacus, efficitur sed rutrum sit amet, iaculis rhoncus urna. Sed maximus dui ac ante varius, at rutrum lacus consequat. Vestibulum eget arcu dictum, maximus velit consequat, iaculis risus. Phasellus et viverra arcu. Aliquam dui est, aliquam eu pellentesque a, ullamcorper et sem. Curabitur ultrices et ligula nec accumsan. Nunc interdum faucibus nunc, et consectetur risus posuere vitae. Nulla congue elit tincidunt, dictum sem ac, dignissim augue. Curabitur et justo nec felis fringilla hendrerit.
</p><p>
Donec elementum, magna a semper condimentum, sem augue lacinia leo, quis semper urna ante iaculis purus. Quisque odio velit, gravida sed sapien non, semper tincidunt nunc. Quisque iaculis nulla nunc. Suspendisse faucibus ex a nulla aliquet commodo. Phasellus sem libero, dignissim ac faucibus non, lacinia commodo nulla. Nunc interdum dictum mauris, ut ultrices enim ultrices sit amet. Nullam ornare pharetra auctor. Nam non sem eros.
</p><p>
Vestibulum id ligula ac est fermentum posuere ac non dolor. Nulla tincidunt nisl et libero bibendum, et pulvinar elit consequat. Curabitur porttitor ac erat varius varius. Morbi a diam non ligula aliquet porta a ut nisl. Donec id nisi convallis, hendrerit mi eget, tincidunt dolor. Duis quis dapibus turpis, vitae efficitur mauris. Cras fringilla lobortis mollis. In venenatis elit purus, condimentum posuere urna pretium ac. Nulla facilisi. Mauris aliquet varius nunc vitae eleifend. Phasellus gravida metus a varius condimentum. Cras nec eros diam. Nulla at diam massa. Praesent elementum commodo lacus id dapibus. Fusce vehicula sem sit amet augue hendrerit molestie.
</p><p>
Duis elementum arcu a congue tempus. Phasellus vitae nisl leo. Proin imperdiet augue lacus, non interdum nulla rutrum maximus. Fusce in tempus felis. Suspendisse potenti. Nam condimentum aliquam mauris at ullamcorper. Curabitur elementum enim justo, non commodo felis pharetra sit amet. Aenean sed porttitor enim, non luctus libero. Cras sit amet tellus sit amet lectus accumsan bibendum sed eu erat. Duis in tortor turpis. Vivamus placerat metus sed feugiat auctor.
</p>
</div>
{% endblock %}