{% extends "layout.html" %}
{% block title %}Panel użytkownika{% endblock %}
{% block body %}
<h2>Twoje dane użytkownika:</h2>
<br />
<table class="user-data" style="width:100%">
   <tr>
      <td class="col1">Imię i nazwisko:</td>
      <td>
         {{ current_user.name }} {{ current_user.surname }}
      </td>
   </tr>
   <tr>
      <td class="col1">Adres:</td>
      <td>{{ current_user.address }}<br />
         {{ current_user.zip_code }} {{ current_user.city }}<br />
         {{ current_user.country }}
      </td>
   </tr>
</table>
<br />
<h2>Twoje rezerwacje:</h2>
<table class="user-data" style="width:100%">
   {% if reservations %}
   {% for res in reservations %}
   <tr>
      <td class="colspan" colspan=2 style="height:10px;"></td>
   </tr>
   <tr>
      <td class="colspan" colspan=2>Informacje o rezerwacji:</td>
   </tr>
   <tr>
      <td class="col1">numer:</td>
      <td># {{ res.id }} </td>
   </tr>
   <tr>
      <td class="col1">Okres:</td>
      <td>{{ res.date_from }} - {{ res.date_to }} </td>
   </tr>
   <tr>
      <td class="col1">Numer pokoju:</td>
      <td>{{ res.room_number }}</td>
   </tr>
   <tr>
      <td class="col1">Typ pokoju:</td>
      <td>{{ res.room_type }}</td>
   </tr>
   <tr>
      <td class="col1">Cena za dobę:</td>
      <td>{{ res.room_price }} PLN</td>
   </tr>
   <tr>
      <td class="col1">Cena za cały okres:</td>
      <td>{{ res.room_price_total }} PLN</td>
   </tr>
   <tr>
      <td class="col1"><b>Status rezerwacji:</b></td>
      <td>{{ 'Potwierdzona' if res.confirmed else 'Oczekiwanie na potwierdzenie' }}</td>
   </tr>
   {% endfor %}
   {% else %}
   <tr>
      <td class="colspan" colspan=2>
         Nie posiadasz rezerwacji
      </td>
   </tr>
   {% endif %}
</table>
{% endblock %}